.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 10px rgb(145, 144, 144);
  padding: 16px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}
.show {
  transform: translateX(0);
  transition: all 0.3s ease-out;
}
.hide {
  transform: translateX(-100vw);

  transition: all 0.3s ease-in;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
