.contact {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  box-shadow: 0px 0px 3px #ccc;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.contact .btn {
}

@media (min-width: 600px) {
  .contact {
    width: 500px;
  }
}
